
#Main-Container{
    width: auto;
    font-family: 'Inter';
    height: 82vh;

    

}
#logo-Div{
    position: relative;
}
.logo{
    height:auto; 
    margin-top: 25px;


}
#SignUp-logo{
    margin-left: 10px;
    border-radius: 4px;
}
.image1{
    height: auto;
    width:100%;
}
.image2{
    height: auto;
    width: 100%;
}
#ezdelivery{
    position: absolute;
    margin-top: 83%;
    margin-left: 10%;
    color: white;

}
.image3{
    height: auto;
    width: 100%;
}
#exh3{
    position: absolute;
    margin-top: 60%;
    margin-left: 15%; 
}
.image4{
    height: auto;
    width: 100%;
    
}
.button{

    height: 13%;
    width: 35%;
    font: 'Inter';
    font-weight: bold;
    border-style: none;
    border-radius: 4px;
    border: 3px solid #33D525;
    
    

}
.your-exp-div{
    position: absolute;
    
}
#sign-up-btn{
    margin-top: -20%;
    margin-left: 30%;
    background-color: black;
    color: rgba(51, 213, 37, 100%);

    
    position: absolute;
    display: block;
}
#SignUp-Section{
    display: none;
    height: 100%;
    width: 100%;
    background-color: black;
    position: absolute;
}
.CustOrVen-div{
    
    
    height: auto;
    width: 100%;
    position: relative;
}
.Customer-image{
    width: 45%;
    margin-top: 5%;
    margin-left:27%;
    
}
.Ven-image{
    width: 45%;
    margin-top: 8%;
    margin-left: 27%;
}
#CustOrVenButtons{
    font: 'Inter';
    font-weight: bold;
    border-style: none;
    border-radius: 4px;
    border: 3px solid #33D525;
    width:170px;
    height: 40px;
    margin-top: 7%;
    margin-left: 27%;

}
#CustomerSignUp{
    display: none;
    background-color:rgba(248, 246, 246, 100%);
    height: 100%;
    
}
.CustSignDiv{
    background-color:rgba(248, 246, 246, 100%);
    height: 100%;
  
    height: auto;
}